<div class="paginator">
  <span class="prev">
    <% if(page.next){ %>
    <a href="<%= url_for(page.next.path) %>">
      ← old | 《<%= page.next.title %>》
    </a>
    <% } %>
  </span>
  <span class="next">
    <% if(page.prev){ %>
    <a href="<%= url_for(page.prev.path) %>">
      《<%= page.prev.title %>》 | new →
    </a>
    <% } %>
  </span>
</div>
