<div class="paginator">
  <span class="prev">
    <% if(page.prev){ %>
    <a href="<%= url_for(page.prev.path) %>">
      ← new | 《<%= page.prev.title || 'Untitled' %>》
    </a>
    <% } %>
  </span>
  <span class="next">
    <% if(page.next){ %>
    <a href="<%= url_for(page.next.path) %>">
      《<%= page.next.title || 'Untitled' %>》 | old →
    </a>
    <% } %>

  </span>
</div>
